{% extends 'store_app/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-10">
        <div class="log_in-box-element" id="form-wrapper">
            <form enctype="multipart/form-data" id="form">
                <div class="form-field">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
                </div>
                <div class="form-field">
                    <label for="price">Price:</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Enter price" required>
                </div>
                <div class="form-field">
                    <label for="digital">Digital:</label>
                    <input type="checkbox" id="digital" name="digital">
                </div>
                <div class="form-field">
                    <label for="image">Image:</label>
                    <input type="file" class="form-control-file" id="image" name="image" accept="image/jpeg,image/jpg,image/png" required>
                    <small id="imageHelp" class="form-text text-muted">Accepted file types: JPEG, JPG, PNG</small>
                </div>
                <input id="form-button" class="log-in-btn btn-success btn-block" type="submit" value="Continue" style="margin-left: 2px;">
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    var form = document.getElementById('form');

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        submit_form_data();
        console.log('Form is submitted');
    });

    function submit_form_data() {
        var product_data = {
            'name': null,
            'price': null,
            'digital': null,
            'image': null,
        };

        product_data.name = form.name.value;
        product_data.price = form.price.value;
        product_data.digital = form.digital.value;
        product_data.image = form.image.value;

        var url_name = 'http://127.0.0.1:8000/add_product_process/';

        fetch(url_name, {
            method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken // Make sure you define csrftoken
                },
            body: JSON.stringify(product_data)
        })
        .then(response => {
            if (response.ok) {
                return response.json();
            } else {
                throw new Error('Network response was not ok.');
            }
        })
        .then(data => {
            console.log('Response from server:', data);
            alert('Product added successfully');
            window.location.href = "http://127.0.0.1:8000/"; // Redirect to home page
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
</script>

{% endblock content %}