{% extends 'store_app/main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-10">
        <div class="log_in-box-element" id="form-wrapper">
            <form id="form">
                <div id="user-info">
                    <p>Log in</p>
                    <div class="form-field">
                        <input required class="form-control" type="text" name="username" placeholder="Username...">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="password" name="password" placeholder="Password...">
                    </div>
                </div>
                <br>
                <input id="form-button" class="log-in-btn btn-success btn-block" type="submit" value="Continue" style="margin-left: 2px;">
            </form>
            
            <hr>
            <a class="box-element" href="http://127.0.0.1:8000/sign_up">Don't have an account? -Sign up!</a>
            <br>
            <br>
            <a class="box-element" href="http://127.0.0.1:8000/">Back to shopping without an account</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    var form = document.getElementById('form');

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        submit_form_data();
        console.log('Form is submitted');
    });

    function submit_form_data() {
        console.log('Sign_up clicked');

        var user_data = {
            'username': null,
            'password': null,
            'action': 'log_in',
        };

        user_data.username = form.username.value;
        user_data.password = form.password.value;

        var url_name = 'http://127.0.0.1:8000/process_account/';

        fetch(url_name, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken // Make sure you define csrftoken
                },
                body: JSON.stringify(user_data)
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                    console.log('Response from server:', data);
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .then(data => {
                console.log('Response from server:', data);

                alert('You are logged in');
                // cart = {}
                // document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'
                // console.log("CART IS CLEARED")
                window.location.href = "http://127.0.0.1:8000/";
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>
{% endblock content %}
